.img{
    width: 15vw;
    height: 15vw;
    
}

.cardBg{
    background:#f2f7ff ;
    border-radius: 10px 10px 10px 10px;
    background: linear-gradient(180deg,#ffffff 10%, #005fff 110%);
    box-shadow: -2px 17px 16px -2px rgba(0,0,0,0.42);
}

.typesContainer {
    display:inline-flex;
    justify-content: space-around;
  }
  
  @font-face {
    font-family: 'PocketMonk-15ze';
    src: url('../../Font/PocketMonk-15ze.ttf') format('truetype');
  }

  .pokeNameTxt{
    font-family: 'PocketMonk-15ze';
    color: #fed53c;
    font-size: 30px;
    -webkit-text-stroke: 1px #f4292c;
    text-stroke: 1px #f4292c;
  }
  .typestext {
    background: #eaeaea; 
    margin: 0 5px;
    padding: 5px 10px; 
    border-radius: 10px 10px 10px 10px;
    font-family: 'PocketMonk-15ze';
    color: #fed53c;
    font-size: 20px;
    -webkit-text-stroke: 1px #204c88;
    text-stroke: 1px #204c88;
  }

  .id{
    color: gray;
    font-weight: bold;
    text-decoration: none;
  }