.navaround {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .img {
    margin-right: 10px;
    height: 30%;
    width: 30%;
  }
  
  .crea{
    margin-top: 7%;
  }

  .abDev{
      margin-bottom: 8%;
  }
  
  .nav{
    background:#f2f7ff ;
    border-radius: 10px 10px 10px 10px;
    background: linear-gradient(180deg,#ffffff 10%, #005fff 110%);
    box-shadow: -2px 17px 16px -2px rgba(0,0,0,0.42);
  }

  /* .btnDev{
    width: 200px;
  height: 50px;
  border-color: #6f93d1;
  background-color: rgb(148, 191, 255);
  border-radius: 5px;
  cursor: pointer;
  } */

  .imgDev{
    width: 120px;
    height: 30px;
    object-fit: contain;
  }

  .createImg{
    width: 200px;
    height: 45px;
    object-fit: contain;
  }

  
  .comic {
    display: inline-block;
    padding: 0px 3px;
    font-size: 3px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #00418b;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #00418b;
    transition: all 0.3s ease;
    scale: 0.9;
  }
  
  .comic:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
    scale: 1;
  }
  
  .comic:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
  }

  



